{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "Css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "Css/bootstrap-responsive.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "Css/style.css" %}" />
    <script type="text/javascript" src="{% static "Js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "Js/jquery.sorted.js" %}"></script>
    <script type="text/javascript" src="{% static "Js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "Js/ckform.js" %}"></script>
    <script type="text/javascript" src="{% static "Js/common.js" %}"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>

<f class ="form-inline definewidth m20">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务器资料修改
<form >
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">类型</td>
        <td><input type="text" id="type" name="type"/></td>
        <td width="10%" class="tableleft">型号</td>
        <td><input type="text" id="model" name="model"/></td>
        <td width="10%" class="tableleft">配置</td>
        <td><input type="text" id="configure" name="configure"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">主机IP</td>
        <td><input type="text" id="address" name="address"/></td>
        <td width="10%" class="tableleft">系统</td>
        <td><input type="text" id="os" name="os"/></td>
        <td width="10%" class="tableleft">SN</td>
        <td><input type="text" id="sn" name="sn"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">购买日期</td>
        <td><input type="text" id="buydate" name="buydate"/></td>
        <td width="10%" class="tableleft">保修到期</td>
        <td><input type="text" id="maintenanceperiod" name="maintenanceperiod"/></td>
        <td width="10%" class="tableleft">用途</td>
        <td><input type="text" id="use" name="use"/></td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">位置</td>
        <td><input type="text" id="position" name="position"/></td>
        <td width="10%" class="tableleft">厂方联系</td>
        <td><input type="text" id="vendorcontact" name="vendorcontact"/></td>
        <td width="10%" class="tableleft">备注</td>
        <td><input type="text" id="remark" name="remark"/></td>
    </tr>
        <td class="tableleft"></td>
        <td>
            <button type="button" class="btn btn-primary" name="save" id="save" >保存</button>&nbsp;&nbsp&nbsp&nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="close" id="close">关闭</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {
		$('#close').click(function(){
				window.close();
		 });

    });
    $(function () {
        $('#save').click(function () {
            var type =$("#type").val();
            var model=$("#model").val()
            var configure=$("#configure").val()
            var address=$("#address").val()
            var os=$("#os").val()
            var sn=$("#sn").val()
            var buydate=$("#buydate").val()
            var maintenanceperiod=$("#maintenanceperiod").val()
            var use=$("#use").val()
            var position=$("#position").val()
            var vendorcontact=$("#vendorcontact").val()
            var remark=$("#remark").val()
            //alert(address);
            $.ajax({
                     type: "POST",
                     url: "/machineadd/",
                     data: {type:type,
                         model:model,
                         configure:configure,
                         address:address,
                         os:os,
                         sn:sn,
                         buydate:buydate,
                         maintenanceperiod:maintenanceperiod,
                         use:use,
                         position:position,
                         vendorcontact:vendorcontact,
                         remark:remark,

                     },
                     dataType: "text",
                     success: function(reponse) {
                              alert(reponse)
                     }
            });
        });
 })
    window.onload = function()
        {
            var searchURL = window.location.search;
            searchURL = searchURL.substring(1, searchURL.length);
            var targetSN = searchURL.split("&")[0].split("=")[1];
            //alert(targetSN)
            searchSN(targetSN)
        }

function searchSN(targetSN) {
            var searchSN =targetSN
            //alert(searchSN+"aa");
            $.ajax({
                     type: "POST",
                     url: "/searchmachine/",
                     data: {searchtext:targetSN},
                     dataType: "json",
                     success: function(machine) {
                         var data = eval('(' + machine + ')');
                         document.getElementById("type").value=data[0].fields.type;
                         document.getElementById("model").value=data[0].fields.model;
                         document.getElementById("configure").value=data[0].fields.configure;
                         document.getElementById("address").value=data[0].fields.address;
                         document.getElementById("os").value=data[0].fields.os;
                         document.getElementById("sn").value=data[0].fields.sn;
                         document.getElementById("buydate").value=data[0].fields.buydate;
                         document.getElementById("maintenanceperiod").value=data[0].fields.maintenanceperiod;
                         document.getElementById("use").value=data[0].fields.use;
                         document.getElementById("position").value=data[0].fields.position;
                         document.getElementById("vendorcontact").value=data[0].fields.vendorcontact;
                         document.getElementById("remark").value=data[0].fields.remark;

                     }
            });

 }
</script>